---
layout: default
link: http://www.nysl.nysed.gov/libdev/cert/conted.htm
---
<h1>{{site.title}}</h1>
<ul>
{% for post in site.posts reversed %}
<li>{{post.title}}</li>
{% endfor %}
</ul>

{% for post in site.posts reversed %}
{% assign hours = post.hours | plus: hours %}
{% endfor %}

<p>Total: {{ hours }} hours<p>

<hr>


<table>
  <tr>
    <th>Title of Program</th>
    <th>Program Provider</th>
    <th>Topic</th>
    <th>Format (e.g. workshop, webinar, online course)</th>
    <th>Date(s)</th>
    <th>Location</th>
    <th>Contact Hours</th>
  </tr>
{% for post in site.posts reversed %}
<tr>
  <td>{{post.title}}</td>
  <td>{{post.provider}}</td>
  <td>{{post.categories}}</td>
  <td>{{post.format}}</td>
  <td>{{post.date}}</td>
  <td>{{post.location}}</td>
  <td>{{post.hours}}</td>
</tr>
{% endfor %}
</table>















